{
	"presets": [
		"es2015",
		"react",
		[
			"env",
			{
				"targets": {
					"browsers": "last 2 versions"
				},
				"loose": true,
				"modules": false,

				"test": {
					"presets": ["es2015", "react", "stage-0"]
				}
			}
		]
	],
	"plugins": []
}
